@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    background-image: url("assets/topography.webp");
    font-size: 1.2em;
    font-family: courier;
}
.navbar {
    position: fixed;
    top: 0;
    background-color: #333;
    width: 100%;
}
.logo {
    padding-left: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
}
ul { 
    list-style-type: none;
}

a {
    color: #ff0099;
    text-transform: uppercase;
    
}
.linkek {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 10%;
    
}
li {
    display: inline;
    margin-left: 15px;
}
header {
    padding: 10% 10% 5% 10%;
}
.nev {
    font-size: 2.5em;
    font-weight: bold;
    font-family: 'Merriweather', serif;
    padding-bottom: 40px;
}
.rsz {
    color: #ff0099;
    font-family: 'Merriweather', serif;
    font-size: 1.4em;
}
.me {
    font-size: 1.3em;
    line-height: 110%;
}
.sep {
    font-size: 0.8em;
    text-align: center;
    padding-bottom: 5%;
}
article {
    padding: 0% 10% 10% 10%;
    
}
h1 {
    font-family: 'Merriweather', serif;
    text-align: center;
    padding-bottom: 5%;
}
h3 {
    font-family: 'Merriweather', serif;
}
p {
    font-family: 'Mukta', sans-serif;
    
}
footer {
    text-align: center;
    background-color: #000;
    position: relative;
    bottom: 0px;
    color: #1e1e1e;
    width: 100%;
}
